In [60]:
# DATA ANALYSIS BEGINS..

# Importing the necessary libraries..
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('data.csv')
data.head(11)

,instant,dteday,yr,mnth,holiday,weekday,workingday,casual,registered,count,powerCon
0,1,1/1/2011,0,1,1,6,0,331,654,985,29.87
1,2,1/2/2011,0,1,0,0,0,131,670,801,15.10
2,3,1/3/2011,0,1,0,1,1,120,1229,1349,20.54
3,4,1/4/2011,0,1,0,2,1,108,1454,1562,20.82
4,5,1/5/2011,0,1,0,3,1,82,1518,1600,22.76
5,6,1/6/2011,0,1,0,4,1,88,1518,1606,34.69
6,7,1/7/2011,0,1,0,5,1,148,1362,1510,19.63
7,8,1/8/2011,0,1,0,6,0,68,891,959,28.57
8,9,1/9/2011,0,1,0,0,0,54,768,822,10.51
9,10,1/10/2011,0,1,0,1,1,41,1280,1321,22.45
10,11,1/11/2011,0,1,0,2,1,43,1220,1263,24.39

In [61]:
data.drop(['instant','weekday'], axis=1, inplace=True)
data1 = data.groupby(['workingday','powerCon']).max().head(51)
data1

                         dteday  yr  mnth  holiday  casual  registered  count
workingday powerCon
0          9.06       4/10/2011   0     4        0    1188        1707   2895
           9.18        3/6/2011   0     3        0     114         491    605
           9.20       5/27/2012   1     5        0    3283        3308   6591
           9.24       8/14/2011   0     8        0    1338        2482   3820
           9.32       9/16/2012   1     9        0    2166        5167   7333
           9.33       8/19/2012   1     8        0    1208        3341   4549
           9.70       7/10/2011   0     7        0    1743        3138   4881
           9.72      12/23/2012   1    12        0     408        2115   2424
           9.84       7/31/2011   0     7        0    1524        2778   4302
           9.88       7/29/2012   1     7        0    2153        4444   6597
           9.94        4/1/2012   1     4        0    2347        3694   6041
           10.02      2/20/2011   0     2        0     639        1173   1812
           10.08      1/16/2011   0     1        0     251         953   1204
           10.12      10/9/2011   0    10        0    2397        3114   5511
           10.16      3/11/2012   1     3        0    1658        3253   4911
           10.21       7/3/2011   0     7        0    2282        2367   4649
           10.32      2/19/2012   1     2        0     618        2071   2689
           10.36       1/8/2012   1     1        0     599        2826   3425
           10.44      4/17/2011   0     4        1    1558        2186   3744
           10.45       7/7/2012   1     7        0    1448        3392   4840
           10.51       1/9/2011   0     1        0      54         768    822
           10.59      1/23/2011   0     1        0     150         836    986
           10.60      11/6/2011   0    11        0     952        2697   3649
           10.61      1/30/2011   0     1        0     140         956   1096
           10.62       2/6/2011   0     2        0     354        1269   1623
           10.65      3/26/2011   0     3        0     981        1515   2496
           10.72      12/9/2012   1    12        0     441        2787   3228
           10.76     10/14/2012   1    10        0    2080        4559   6639
           10.79     10/28/2012   1    10        0     998        3461   4459
           10.81      2/27/2011   0     2        0     694        1708   2402
           10.82     11/11/2012   1    11        0    2290        4562   6852
           10.91      3/20/2011   0     3        0    1047        1424   2471
           10.95      3/27/2011   0     3        0     472        1221   1693
           10.97       5/1/2011   0     5        1    1138        2213   3351
           10.98      4/24/2011   0     4        0    1710        2481   4191
           11.03       4/3/2011   0     4        0    1651        1598   3249
           11.08     11/20/2011   0    11        0     787        2733   3520
           11.13      9/23/2012   1     9        0    2454        5453   7907
           11.20       7/8/2012   1     7        0    1203        3469   4672
           11.24     11/13/2011   0    11        0    1004        2713   3717
           11.29      7/17/2011   0     7        0    2006        3296   5302
           11.43      8/21/2011   0     8        0    1249        2624   3873
           11.45      10/2/2011   0    10        0     616        2302   2918
           11.46      4/22/2012   1     4        1    1532        3464   4996
           11.51       9/4/2011   0     9        0    2521        2419   4940
           11.54      3/13/2011   0     3        0     982        1435   2417
           11.60     12/30/2012   1    12        0     364        1432   1796
           11.63      8/28/2011   0     8        0    1415        2919   4334
           11.64      2/13/2011   0     2        0     397        1192   1589
           11.65      7/22/2012   1     7        0    2544        4866   7410
           11.66      2/12/2012   1     2        0      73        1456   1529

In [91]:

data = data.groupby(['yr','mnth']).sum().head(12)
#mnth_pred_data = np.array(mnth_pred_data)
a = pd.Series(data.holiday) 
b = pd.Series(data.workingday)
c = pd.Series(data.casual) 
d = pd.Series(data.registered) 
e = pd.Series(data.count)
cols = ['holiday','workingday','casual','registered','count']

mnth_pred_data = pd.DataFrame(a,b,c,d,e, columns=cols)
mnth_pred_data

TypeError: __init__() got multiple values for argument 'columns'

In [13]:
# THE MACHINE LEARNING BEGINS..

# Importing the necessary libraries..
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor

x, u, y, v = train_test_split(data, label, random_state=0)
pred = KNeighborsRegressor(n_neighbors = 3)

In [22]:
# Fitting prediction data..
pred.fit(x,y)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                    weights='uniform')

In [34]:
data

array([[   1,    0,    1, ...,  331,  654,  985],
       [   2,    0,    1, ...,  131,  670,  801],
       [   3,    0,    1, ...,  120, 1229, 1349],
       ...,
       [ 729,    1,   12, ...,  159, 1182, 1341],
       [ 730,    1,   12, ...,  364, 1432, 1796],
       [ 731,    1,   12, ...,  439, 2290, 2729]], dtype=int64)

In [23]:
# Enter new data for prediction here..

new_data = ['']

(548, 9)